/* Layout */

#colorPickerContainer {
    width: 870px;
    margin-left: 10px;
}

#colorPicker {
    cursor: crosshair;
}

#colorPreviewContainer, #colorPickerContainer form {
    float: right;
}

/* Color preview */

#colorPreviewContainer {
    width: 150px;
    text-align: center;
}

#colorPreviewContainer div {
    height: 150px;
    border: 1px solid gray;
}

/* Form */

#colorPickerContainer form {
    margin: 10px;
    font-family: Arial, sans, helvetica;
    font-size: 9pt;
}

#colorPickerContainer form label {
    float: left;
    width: 50px;
    text-align: right;
    margin-right: 5px;
}

#colorPickerContainer form input {
    width: 80px;
    text-align: right;
    border: 1px solid gray;
}
