form#colorSchemeChoice {
    border-radius: 5px;
    margin: 15px;
    width: 200px;
    padding: 0;
    border: 1px solid gray;
    float: left;
}

form#colorSchemeChoice h6 {
    background-color: #ccc;
    color: black;
    font-weight: bold;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5px;
    margin: 0 0 10px;
}

div#colorSchemeView {
    margin-top: 15px;
}

.colorBox {
    width: 150px;
    text-align: center;
    float: left;
    margin-left: 15px;
}

.colorBox div {
    height: 150px;
    border: 1px solid gray;
}
